name: Generate Pac-Man Maze

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Generate pacman.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}
          graph_type: "pacman"
          theme_name: "dark"

      - name: Push pacman.svg to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          repo: "Rioo-Eins/Rioo-Eins"     # <<< WAJIB sama persis
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
